header {
padding: 35px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.left,
.right {
  flex: 0 0 auto;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 55px;
}

h1 {
  flex: 1;
  text-align: center;
  font-size: 45px;
}
.forsidebilled1 {
  text-align: center;
}
.forsidebilled1 img{
  width: 980px;
  height: auto;
}
.text-box123 {
  margin-bottom: 30px;
  background-color: #F6F6F6;
  color: #383838;
  padding: 10px 50px;
}
.forsidebilled1 p {
  font-size: 25px;
}

/*javascript stykke*/
.countdown {
    font-size: 24px;
    text-align: center;
    margin-top: 50px;
}
.countdown2 {
  background-color: #F6F6F6;
  color: #383838;
  padding: 10px 150px;
  }


.midten h1{
  margin-top: 90px;
}

.image img {
  margin-left: -15px;
  width: 800px;
  height: auto;
  z-index: 2;
}
.image {
  text-align: center;
}
.text-box {
  margin-top: -10px;
  margin-right: 10%;
  margin-left: 8.5%;
  margin-bottom: 30px;
  background-color: #383838;
  color: #FFFFFF;
  padding: 10px 50px;
}
.image p{
  font-size: 25px;
}
.image1 img {
  margin-left: -15px;
  width: 800px;
  height: auto;
  z-index: 2;
}
.image1 {
  text-align: center;
}
.text-box1 {
  margin-top: -10px;
  margin-right: 10%;
  margin-left: 8.5%;
  margin-bottom: 30px;
  background-color: #383838;
  color: #FFFFFF;
  padding: 10px 50px;
}
.image1 p{
  font-size: 25px;
}
.image2 img {
  margin-left: -15px;
  width: 800px;
  height: auto;
  z-index: 2;
}
.image2 {
  text-align: center;
}
.text-box2 {
  margin-top: -10px;
  margin-right: 10%;
  margin-left: 8.5%;
  margin-bottom: 30px;
  background-color: #383838;
  color: #FFFFFF;
  padding: 10px 50px;
}
.image2 p{
  font-size: 25px;
}

.produkt1 h2{
  margin-top: 90px;
  text-align: center;

}

.box1 {
  display: flex;
  justify-content: center;
}

.box1 p {
  background-color: #383838;
  color: white;
  font-size: 45px;
  padding: 25px 40px;
  margin: 5px;
}
.box2 {
  display: flex;
  justify-content: center;
}

.box2 p {
  background-color: #383838;
  color: white;
  font-size: 40px;
  padding: 25px 50px;
  margin: 5px;
}












.main-content {
  flex: 1;
  position: relative;
}
