header {
  background-color: #99A1A7;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-height: 70px;
  display: block;
  margin: 0 auto;
}
.corner-icon {
  position: absolute;
  top: 55px;
  right: 40px;
}

.corner-icon i {
  font-size: 55px;
  color: #000000;
}

body {
  background: #F6F6F6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1{
  font-size: 55px;
  margin: 10px;
  padding: 50px;
}
.wrapper {
  flex: 1;
  margin-top: -50px;
}
.wrapper img{
  margin-top: -400px;
}
.forsidebilled{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.wrapper h1{
  margin-top: 750px;
  margin-left: 170px;
}
.shopping {
  display: flex;
}
.side-by-side {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}
.shopping {
  display: flex;
}
.shopping h2 {
  font-weight: bold;
  margin-top: 400px;
  margin-left: 50px;
  font-size: 70px;
  z-index: 1;
}
.shopping p {
  margin-top: 500px;
  margin-left: -155px;
  font-size: 45px;
  z-index: 1;
}
.nye h1 {
  margin-top: 50px;
  margin-left: 230px;
}
.image img {
  margin-left: -15px;
  width: 800px;
  height: auto;
  z-index: 2;
}
.image {
  text-align: center;
}
.text-box {
  margin-top: -10px;
  margin-right: 10%;
  margin-left: 8.5%;
  margin-bottom: 30px;
  background-color: #383838;
  color: #FFFFFF;
  padding: 10px 50px;
}
.image p{
  font-size: 25px;
}
.image1 img {
  margin-left: -15px;
  width: 800px;
  height: auto;
  z-index: 2;
}
.image1 {
  text-align: center;
}
.text-box1 {
  margin-top: -10px;
  margin-right: 10%;
  margin-left: 8.5%;
  margin-bottom: 30px;
  background-color: #383838;
  color: #FFFFFF;
  padding: 10px 50px;
}
.image1 p{
  font-size: 25px;
}
.image2 img {
  margin-left: -15px;
  width: 800px;
  height: auto;
  z-index: 2;
}
.image2 {
  text-align: center;
}
.text-box2 {
  margin-top: -10px;
  margin-right: 10%;
  margin-left: 8.5%;
  margin-bottom: 30px;
  background-color: #383838;
  color: #FFFFFF;
  padding: 10px 50px;
}
.image2 p{
  font-size: 25px;
}

.main-content {
  flex: 1;
  position: relative;
}

@media only screen and (min-width: 1080px) {

  .wrapper img{
    margin-left: auto;
    display: flex;
    margin-right: auto;
    margin-top: 200px;
    height: auto;
    width: 900px;
  }
  .shopping img {
    margin-left: auto;
    display: flex;
    margin-right: auto;
    margin-top: 800px;
    height: auto;
    width: 900px;
  }
  .wrapper h1, .nye h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }

  .shopping {
    margin-left: 230px;
  }


}
