header {
  background-color: #99A1A7;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo img {
  max-height: 70px;
  display: block;
  margin: 0 auto;
}
.corner-icon {
  position: absolute;
  top: 55px;
  right: 40px;
}

.corner-icon i {
  font-size: 55px;
  color: #000000;
}

body {
  background: #F6F6F6;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
h1{
  font-size: 55px;
  margin: 15px;
  padding: 30px;
}
.wrapper {
  flex: 1;
  margin-top: -50px;
}
.wrapper img{
  margin-top: -400px;
}
.forsidebilled{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}
.wrapper h1{
  margin-top: 750px;
  margin-left: 170px;
}
.shopping {
  display: flex;
}
.side-by-side {
  
}
.side-by-side img {


}
.main-content {
  flex: 1;
  position: relative;
}
