body {
background: #F6F6F6;
font-family: 'Arquitecta', sans-serif;

}
footer {
  background-color: #f2f2f2;
  padding: 20px 0;
}

.container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-basis: 50%; /* Adjust the width of columns as per your design */
}

.column p {
  color: #666666;
  font-size: 14px;
}
li {
  list-style: none;
}
