body {
background-color: #F6F6F6;
}

.info {
  background-color: #D4DBE0;
  margin-top: -50px;
}

.info h2 {
  margin-left: 30px;
  font-size: 60px;
  padding: 40px;
}

.info p {
  margin-left: 60px;
  margin-top: -50px;
  font-size: 30px;
}

.produkt h2{
  margin-left: 10%;
  margin-top: 40px;
}
.box {
     display: flex;
     justify-content: center;
     margin-left: 2%;
   }

   .box p {
     background-color: #383838;
     color: white;
     font-size: 35px;
     padding: 25px 40px;
     margin: 5px;
   }

   .cover {
        text-align: center;
      }

      .boxene {
        display: flex;
        justify-content: center;
      }

      .taske1 {
        background-color: gray;
        width: 400px;
        height: 400px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20%;
      }

      .taske1 img {
        width: 450px;
        height: auto;
        margin-bottom: 10px;
      }

      .takse1 p {
          font-size: 16px;
          color: white;
          margin: 0;
        }
