body {
background: #99A1A7;
font-family: 'Arquitecta', sans-serif;

}

h1 {
font-size: 50px;
margin-left: 310px;
margin-top: 700px;
}

img {
margin-left: 230px;
}

p {
font-size: 25px;
margin-left: 430px;
margin-top: 50px;

}
