  p {
    font-size: 25px;
  }

  .spacer {
    margin-right: 60%;
  }

.horizontal-line {
      border-top: 1px solid gray;
      margin-top: 20px;
      margin-bottom: 20px;
      margin-right: 10%;
      margin-left: 10%;
    }

    .vare {
      background-color: #99A1A7;
      border: none;
      color: white;
      padding: 30px 100px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
      margin-bottom: 120px;
      width: 650px;
    }

    .kurv {
      background-color: #383838;
      border: none;
      color: white;
      padding: 30px 100px;
      text-align: center;
      text-decoration: none;
      display: block;
      font-size: 50px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 100px;
      margin-bottom: -55px;
      width: 650px;
    }

    .ned {
      margin-top: 52%;
    }

    .total, .kob {
      margin-top: 10%;
      margin-left: 10%;
    }

    .po p, .for p {
    text-decoration: underline;
    }

    .for {
      margin-top: 100px;
      margin-left: 30%;
    }

    .imgg img {
      height: auto;
      width: 700px;
      margin-left: auto;
      display: flex;
      margin-right: auto;
      margin-top: 150px;
      margin-bottom: -400px;
    }

    @media only screen and (min-width: 1080px) {
    p {
      font-size: 55px;
    }
    .for p {
      margin-left: 11%;
    }
    }
