body {
font-family: 'Arquitecta', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {
padding: 25px;
background-color: #99A1A7;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left,
.right {
  flex: 0 0 auto;
  margin-left: 30%;
  margin-right: 30%;
  font-size: 55px;
}

header h1 {
  flex: 1;
  text-align: center;
  font-size: 50px;
  color: white;
}

main {
  flex: 1;
}

footer {
  flex-shrink: 0;
  background-color: #F6F6F6;
  padding: 20px 0;
  text-align: center;
  position: sticky;
  bottom: 0;
  z-index: 5;
}


.footer-icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-icons li {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 15px;
}

.footer-icons li a {
  margin-top: 5px;
  text-decoration: none;
  color: #000000;
  font-size: 40px;
}

.footer-icons li i {
  font-size: 50px;
}

a {
  border: none;
  text-decoration: none;
  color: #383838;
}
