body {
  background-color:#F6F6F6;
}

.img img {
  margin-left: auto;
  display: flex;
  margin-right: auto;
  margin-top: 250px;
  margin-bottom: 100px;
  height: auto;
  width: 570px;
}

.valg p {
  font-size: 45px;
  margin-left: 20px;
  color: grey;
}

.valg {
  border: 2px solid gray;
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  align-items: center;
}

.valg i{
    margin-left: 57%;
    font-size: 65px;
  }

  .tekst  {
    margin-left: 60px;
  }

  .tekst h2 {
   font-size: 60px;
   margin-bottom: -40px;
  }

  .tekst p {
    margin-top: 55px;
    font-size: 25px;
  }

  .kurv {
    background-color: #383838;
    border: none;
    color: white;
    padding: 30px 100px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: -55px;
    width: 650px;
  }

  .vare {
    background-color: #99A1A7;
    border: none;
    color: white;
    padding: 30px 100px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    width: 650px;
  }

  .info {
    background-color: #D4DBE0;
  }

  .info h2 {
    margin-left: 30px;
    font-size: 60px;
      padding: 40px;
  }

  .info p {
    margin-left: 60px;
  }
